@model IEnumerable<SistemaEstoque.Models.MovimentacoesConcluidas>

@{
    ViewBag.Title = "EquipamentosSetor";
}

<h2>Equipamentos do Setor</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEquipamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeSetor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEquipamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeSetor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        
    </tr>
}

</table>
