@model IEnumerable<SistemaEstoque.Models.MovimentacoesConcluidas>

@{
    ViewBag.Title = "EquipamentosSetor";
}

<h2 class="text-center">Equipamentos do Setor</h2>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NomeEquipamento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NomeSetor)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEquipamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeSetor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                </tr>
            }
            </tbody>
    </table>
    </div>