@model IEnumerable<SistemaEstoque.Models.Solicitacao>

@{
    ViewBag.Title = "Solicitaçãoes do Setor";
}

<h2 class="text-center">Solicitações do Setor</h2>

@Html.ActionLink("Fazer nova solicitação", "Create" , new { } , new { @class = "btn btn-outline-secondary" })
    
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Equipamento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DataSolicitacao)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataSolicitacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
            </tbody>
    </table>
</div>

