@model SistemaEstoque.Models.Relatorio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Relatorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorLiquido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorLiquido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lucro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lucro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RelatorioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
