@model IEnumerable<SistemaEstoque.Models.Equipamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEquipamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEquipamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipamentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipamentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipamentoId })
        </td>
    </tr>
}

</table>
